.container {
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blog {
    max-width: 300px;
    max-height: min-content;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.blog img {
    width: 300px;
    border-radius: 3px;
}
